.container-fluid.footer
  .container
    .row
      .footer_logo_box.col-md-12.col-sm-12
        .d-flex.justify-content-center
          img.footer_logo(src='/images/logo-green-2x.png')
    .row
      .col-md-6.col-sm-12
        .footer_navigation
          ul.footer_list
            li.footer_item
              a.footer_link(href='#') Company
            li.footer_item
              a.footer_link(href='#') Contact us
            li.footer_item
              a.footer_link(href='#') Careers
            li.footer_item
              a.footer_link(href='#') Privacy Policy
      .col-md-6.col-sm-12
        p.footer_copyrights
          | Build by 
          a.footer_link(href='#') Daniyal Ayyaz
          |  for his project practice using 
          a.footer_link(href='#') Advanced CSS & SASS
          |                      Copyrights © by 
          b Daniyal Ayyaz
          | . You are 100% allowed to use this natours template.
#popup.popup
  .popup_content
    .popup_left
      img.popup_picture(src='Images/nat-8.jpg' alt='Tour Image')
      img.popup_picture(src='Images/nat-9.jpg' alt='Tour Image')
    .popup_right
      a.popup_close(href='#section-tours') ×
      h2.heading-secondary.mb-5 Start Booking Now
      h3.heading-teritory.mb-3 Important – Please read these terms before booking
      p.popup_text
        | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      a.btn.btn-green(href='Landing Page.html') Book 
