extends layout
block content
  .container-fluid.header
    .container
      .text-box
        h1.heading-primary
          span.heading-primary-main OUTDOORS
          span.heading-primary-sub Is Where Life Happens
        a.btn.btn-white.btn-animated(href='#section-tours') Discover our Tours
  .container-fluid.section-about
    #AboutSec.container
      .row
        .col-md-12.col-sm-12
          .d-flex.justify-content-center
            h2.heading-secondary.margin-bottom-big
              | Exciting tours for adventurous people
      .row
        .col-md-6.col-sm-12.pt-5
          h3.heading-teritory.margin-bottom-medium
            | You're going to fall in love with nature
          p.paragraph.text-justify
            | Pakistan is a land of many splendors. The scenery changes northwards from coastal beaches to sandy deserts, desolate plateaus, fertile plains, dissected uplands and high mountains with beautiful vales, snow covered peaks and eternal glaciers. The fascination North areas of Pakistan comprises of the area where world’s three greatest mountain ranges meet Karakorum, Himalaya and Hindukush.
          h3.heading-teritory.margin-bottom-medium
            | Live adventures that you have never before
          p.paragraph.text-justify
            | We are professionals in travel & tourism industry. With a trained and committed team of enthusiastic young professionals. who understand the ethos of tourism trade and ready to render high quality services to our valued clients.
          a.btn-text(href='#') Learn More →
        .col-md-6.col-sm-12.pt-5
          .composition
            img.composition_photo.composition_photo--p1(src='/images/nat-1-large.jpg' alt='')
            img.composition_photo.composition_photo--p2(src='/images/nat-2-large.jpg' alt='ss')
            img.composition_photo.composition_photo--p3(src='/images/nat-3-large.jpg' alt='')
  .container-fluid.section-features
    #Benefits.container
      .row
        .col-md-3
          .feature-box
            i.feature-box_icon.icon-basic-world
            h3.heading-teritory.margin-bottom-medium
              | Explore the World
            p.feature-box_text
              | Creative but persistent approach to search for the most appropriate travel arrangements and identifying backed up by the best possible value.
        .col-md-3
          .feature-box
            i.feature-box_icon.icon-basic-heart
            h3.heading-teritory.margin-bottom-medium
              | Healthier Life
            p.feature-box_text
              | An excellent reputation for personal services, quality and value through extensive research and a comprehensive database backed up by twenty years.
        .col-md-3
          .feature-box
            i.feature-box_icon.icon-basic-compass
            h3.heading-teritory.margin-bottom-medium Meet Nature
            p.feature-box_text
              | Professional customer oriented consultation providing hassle free travel. Email capabilities for convenience and prompt booking and information.
        .col-md-3
          .feature-box
            i.feature-box_icon.icon-basic-map
            h3.heading-teritory.margin-bottom-medium
              | Find Your Way
            p.feature-box_text
              | Our travel consultants are friendly, professional, and experienced in accommodating both the seasoned traveler and those new to the world.
  #section-tours.container-fluid.section-tours
    #Popular.container
      .margin-bottom-big.text-center
        h2.heading-secondary Most Popular Tours
      .row
        .col-md-4
          .card
            .card_side.card_side--front
              .card_picture.card_picture--1  
              h4.card_heading
                span.card_heading-span.card_heading-span--1
                  | The Sea Explorer
              .card_details
                ul
                  li Hawke's Bay Beach | Sandspit Beach
                  li 3 days tour
                  li Up to 30 people
                  li 2 tour guides
                  li sleep in cozy hotels
            .card_side.card_side--back.card_side--back-1
              .card_cta
                .card_price-box
                  p.card_price-only Ranging From
                  p.card_price-value 10K-12K PKR
                a.btn.btn-white(href='#popup') Book Now
        .col-md-4
          .card
            .card_side.card_side--front
              .card_picture.card_picture--2  
              h4.card_heading
                span.card_heading-span.card_heading-span--2
                  | The Forest Hiker
              .card_details
                ul
                  li Nathia Gali | Swat | Naran | Shogran | Thandiani
                  li 7 days tour
                  li Up to 40 people
                  li 6 tour guides
                  li sleep in provided tents
            .card_side.card_side--back.card_side--back-2
              .card_cta
                .card_price-box
                  p.card_price-only Ranging From
                  p.card_price-value 13K-18K PKR
                a.btn.btn-white(href='/product/Booking') Book Now
        .col-md-4
          .card
            .card_side.card_side--front
              .card_picture.card_picture--3  
              h4.card_heading
                span.card_heading-span.card_heading-span--3
                  | The Snow Adventure
              .card_details
                ul
                  li Skardu | Malam Jabba | Kalash | Hunza Valley
                  li 5 days tour
                  li Up to 15 people
                  li 3 tour guides
                  li sleep in provided tents
            .card_side.card_side--back.card_side--back-3
              .card_cta
                .card_price-box
                  p.card_price-only Ranging From
                  p.card_price-value 18K-22K PKR
                a.btn.btn-white(href='/product/Booking') Book Now
        .col-md-12
          .d-flex.justify-content-center.padding-top-big
            a.btn.btn-green(href='/product/Booking') Discover All Tours
  .container-fluid.section-stories
    #Stories.container
      .bg-video
        video.bg-video_content(autoplay='' muted='' loop='')
          source(src='Images/video.mp4' type='video/mp4')
          source(src='Images/video.webm' type='video/webm')
      .margin-bottom-big.text-center
        h2.heading-secondary We make people genuinely happy
      .row
        .story
          figure.story_shape
            img.story_picture(src='Images/nat-8.jpg' alt='Person on a Trip')
            figcaption.story_caption Marry Smith
          .story_text
            h3.heading-teritory.margin-bottom-small
              | I had the best week ever with my family
            p
              | Lorem ipsum is a placeholder text commonly used to demonstrate
              | the visual.Lorem ipsum is a placeholder text commonly used to
              | demonstrate the visual.Lorem ipsum is a placeholder text
              | commonly used to demonstrate the visual.
      .row.pt-5
        .story
          figure.story_shape
            img.story_picture(src='/images/nat-9.jpg' alt='Person on a Trip')
            figcaption.story_caption Sameer Butt
          .story_text
            h3.heading-teritory.margin-bottom-small
              | Wao my life is completely different now
            p
              | Lorem ipsum is a placeholder text commonly used to demonstrate
              | the visual.Lorem ipsum is a placeholder text commonly used to
              | demonstrate the visual.Lorem ipsum is a placeholder text
              | commonly used to demonstrate the visual.
      .d-flex.justify-content-center.padding-top-big
        a.btn-text(href='#') Read all stories →

