var NewComponent = React.createClass({
  render: function() {
    return (
      <div>
        <meta charSet="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Who we are?</title>
        <meta content name="descriptison" />
        <meta content name="keywords" />
        {/* Google Fonts */}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />
        {/* Vendor CSS Files */}
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="vendor/icofont/icofont.min.css" rel="stylesheet" />
        <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" />
        <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
        <link href="vendor/venobox/venobox.css" rel="stylesheet" />
        <link href="vendor/aos/aos.css" rel="stylesheet" />
        <style type="text/css" dangerouslySetInnerHTML={{__html: "\n\n.resume\n{\n  background-image: url('images/best.jpg');\n  background-size: cover;\n}\n.resume .section-title{\n  text-align: center;\n}\n.resume .section-title h2{\n  margin-top: 50px;\n  font-size: 30px;\n  text-transform: uppercase;\n  font-weight: 700;\n  background-image: linear-gradient(to right, #008000, #28b485);\n  display: inline-block;\n  -webkit-background-clip: text;\n  color: transparent;\n  letter-spacing: 2px;\n  transition: all 0.2s;\n}\n.resume .resume-title {\n  font-size: 20px;\n  font-weight: 400;\n  text-transform: uppercase;\n  margin-top: 20px;\n  margin-bottom: 20px;\n  background-image: linear-gradient(to right, #008000, #28b485);\n  display: inline-block;\n  -webkit-background-clip: text;\n  color: black;\n  letter-spacing: 2px;\n}\n.resume .resume-item {\n  padding: 0 0 20px 20px;\n  margin-top: -2px;\n  border-left: 2px solid #34b7a7;\n  position: relative;\n  margin-bottom: 50px;\n}\n\n\n.resume .resume-item ul {\n  padding-left: 20px;\n}\n\n.resume .resume-item ul li {\n  padding-bottom: 50px;\n}\n\n.resume .resume-item:last-child {\n  padding-bottom: 0;\n}\n\n.resume .resume-item::before {\n  content: \"\";\n  position: absolute;\n  width: 16px;\n  height: 16px;\n  border-radius: 50px;\n  left: -9px;\n  top: 0;\n  background: #fff;\n  border: 2px solid #34b7a7;\n}\n.footer {\n  background: #333;\n  padding: 20px;\n}\n.footer_logo {\n  width: 50px;\n  height: auto;\n}\n" }} />
        <main id="main">
          {/* ======= Resume Section ======= */}
          <section id="resume" className="resume">
            <div className="container" data-aos="fade-up">
              <div className="section-title">
                <h2>WHO WE ARE?</h2>
                <p>Our unique, original itineraries – whether they are for small group travel or individually created for our tailor-made clients – allow you to take journeys that venture beneath the surface of the region.</p>
              </div>
              <div className="row">
                <div className="col-lg-6">
                  <h3 className="resume-title">Summary</h3>
                  <div className="resume-item pb-0">
                    <p><em>We are firm believers that travelling is all about the experience and it’s in the details – the places you stay, the transport and route that gets you there, and the people you meet along the way – that make the trip; we therefore specialise in drawing on our own extensive local knowledge and array of contacts to give our clients the very best experience possible.</em></p>
                  </div>
                  <h3 className="resume-title">Responsible Tourism</h3>
                  <div className="resume-item">
                    <p>At Natours we do more than pay lip service to Responsible Tourism – we have been committed to it since our very beginnings and have also established the Wild Frontiers Foundation to support and develop community projects in destinations we visit.</p>
                  </div>
                </div>
                <div className="col-lg-6">
                  <h3 className="resume-title">Covid Promise</h3>
                  <div className="resume-item">
                    <p><em>We understand that flexibility is now a key factor when booking a holiday, and we believe our Covid Promise and Covid Viable Test provide that.
                        We believe these terms and conditions for making a booking are amongst the most generous in the travel industry right now, and we hope they will give you the confidence, when you feel ready, to go ahead and book your next adventure.</em></p></div>
                </div></div></div></section>{/* End Resume Section */}
        </main>{/* End #main */}
        <div className="container-fluid footer">
          <div className="container">
            <div className="row">
              <div className=" footer_logo_box col-md-12 col-sm-12">
                <div className="d-flex justify-content-center">
                  <img src="Images/logo-green-2x.png" className="footer_logo" />
                </div>
              </div>
            </div>
          </div>
        </div>
        {/* Vendor JS Files */}
        {/* Template Main JS File */}
      </div>
    );
  }
});