header#header.fixed-top
  .container-fluid.d-flex.justify-content-between.align-items-center
    .logo-box
      img.logo(src='/images/logo-white.png')
    nav.nav-menu.d-none.d-lg-block
      ul
        li
          a(href='/#AboutSec') About Natours
        li
          a(href='/#Benefits') Your Benefits
        li
          a(href='/#Popular') Popular Tours
        li
          a(href='/#Stories') Stories
        li
          a(href='/product/Contact') ContactForm 
        if !user&&!admin  
          li 
            a(href='/LandingPage') Book Now
        if user  
          li
            a(href='/product/productBooking') Book Tour
          li
            a(href='/users/LogOut') Log Out 
        if admin  
          li
            a(href='/product/Book') See Booking 
          li
            a(href='/users/RegisterUser') See Registered User 
          li
            a(href='/users/LogOut') Log Out   
            

    .header-social-links
      a.twitter(href='https://twitter.com/LOGIN')
        i.icofont-twitter
      a.facebook(href='https://www.facebook.com/')
        i.icofont-facebook
      a.instagram(href='https://www.instagram.com/')
        i.icofont-instagram
      a.linkedin(href='https://www.linkedin.com/login')
        i.icofont-linkedin
